*{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin: 0 auto;
  text-decoration: none;
  color: #83B8D3;
  text-shadow: 1px 1px 1px #7B96B6;
}

#backgroundContainer{
  position: relative;
  text-align: center;
}

#videoBackground{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  object-fit: fill;
  position: fixed;
  left:0;
  top:0;
  overflow: hidden;
  z-index: 1;
}

#imageBackground{
  height: 100vh;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  object-fit: fill;
  position: fixed;
  left:0;
  top:0;
  overflow: hidden;
  opacity: 0.3;
}

#contenu-texte{
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 100px;
}

#boutons{
  overflow: auto;
  margin: 0 auto;
}

#boutons table{
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

#boutons td input{
   border: 1px solid #c4c4c4;
   background-color: inherit;
   padding: 10px;
   width: 100%;
   text-align: center;
   cursor: pointer;
}

#boutons td input:hover{
  color: white;
  animation: neon 1s ease-in-out infinite alternate;
}

@keyframes neon {
  from{
     box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #83B8D3, 0 0 70px #83B8D3, 0 0 80px #83B8D3, 0 0 100px #83B8D3, 0 0 150px #83B8D3;
  }
  to{
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #83B8D3, 0 0 35px #83B8D3, 0 0 40px #83B8D3, 0 0 50px #83B8D3, 0 0 75px #83B8D3;
}
}

.input{
  margin-bottom: 30px;
}
