*{
  margin: 0 auto;
}
.images{
  -webkit-background-size: cover;
  -moz-background-size: contain;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.premiereImage{
background-image: url('images/1930.jpg');
}

.deuxiemeImage{
  background-image: url('images/1940.jpg');
}

.troisiemeImage{
  background-image: url('images/1950.jpg');
}

.quatriemeImage{
  background-image: url('images/1960.jpg');
}

.cinquiemeImage{
  background-image: url('images/1970.jpg');
}

.sixiemeImage{
  background-image: url('images/1980.jpg');
}
.septiemeImage{
  background-image: url('images/1990.jpg');
}
.huitiemeImage{
  background-image: url('images/2000.jpg');
}
.neuviemeImage{
  background-image: url('images/2010.jpg');
}
.dixiemeImage{
  background-image: url('images/2020.jpg');
}
