*{
  font-style: arial;
}
body{
  background-color: #373334;
}
#wp{
  margin: 0 auto;
  width: 94.4vw;
  height: 100%;
}
#menuHaut input{
  height: 4vh;
  width: 133vh;
  background: #fff;
  padding: 20px 30px 18px;
  color: #000;
  font-size: 18px;
  line-height: 1.2;
}
#menuGauche{
  background-color: #231F20;
  width: 12vw;
  height: 82vw;
  float: left;
  position: relative;
  top: 77px;
}

#logoUniversal{
  width: 10vw;
  margin: 10px;
  cursor: pointer;
}

#container{
  overflow: hidden;
}
#menuGauche ul{
  padding-left: 0;

}
#menuGauche li{
  background-image: url("photos/note.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 25px 20px;
  list-style-type: none;
  background-color: #231F20;
  padding: 15px 1px 15px 50px;
  font: 14px 'Avenir 65 Medium', Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
}
#menuGauche li:hover{
  background-color: #373334;
  transition-duration: 0.5s;
}

.img-scale:hover{
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transition-duration: 0.5s;
  cursor: pointer;
  z-index: 2;
  box-shadow: 1px 1px 12px black;
}
.box {
    float: left;
    overflow: hidden;
}
.box.one {
    height: 41vw;
    width: 20.70vw;
}
.box.two {
    height: 20.70vw;
    width: 20.70vw;
}
.box.three {
    height: 20.70vw;
    width: 41vw;

}
.box.four {
    height: 41vw;
    width: 41vw;
}
.dernier{
  position: absolute;
  top: 645px;
  left: 199px;
}
